<div class="row">
    <div class="col-md-8 col-md-offset-2 mt-wizard-padding">
        <div>
            <h2>Создание проекта</h2>
        </div>
        <div>
            <p>Выберите счетчик, который требуется проанализировать.</p>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="default" class="control-label">Счётчик:</label>
                    <select class="bs-select form-control">
                        <option>cvetomaster.ru</option>
                        <option>cvetomaster.ru</option>
                        <option>cvetomaster.ru</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn green-meadow">Получить отчёт</button>
        </div>
    </div>
</div>