<div class="row">
    <div class="col-md-8 col-md-offset-2 mt-wizard-padding">
        <div>
            <h2>Регистрация в сервисе</h2>
        </div>
        <div>
            <p>Введите свой почтовый адрес, который будет использоватся в качастве вашего логина для получения
                статистики.</p>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="email" class="control-label">Email:</label>
                    <input id="email" type="email" class="form-control" placeholder="Ваша почта">
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn green-meadow" id="go-to-information-step">Далее</button>
        </div>
    </div>
</div>