<div class="row">
    <div class="col-md-12">
        <div class="mt-element-step">
            <div class="row step-line">
                <div class="col-md-4 mt-step-col first">
                    <div class="mt-step-number bg-dark font-grey">1</div>
                    <div class="mt-step-title font-grey-cascade">Регистрация</div>
                </div>
                <div class="col-md-4 mt-step-col">
                    <div class="mt-step-number bg-dark font-grey">2</div>
                    <div class="mt-step-title  font-grey-cascade">Доступ к Я.Метрике</div>
                </div>
                <div class="col-md-4 mt-step-col last ">
                    <div class="mt-step-number bg-dark font-grey">3</div>
                    <div class="mt-step-title font-grey-cascade">Создание проекта</div>
                </div>
            </div>
        </div>
    </div>
</div>